{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/contact-form-script.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/odometer.min.js' %}"></script>
<script src="{% static 'js/fancybox.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/tweenmax.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>